<h1>Login</h1>
<form>
<input type="text" [(ngModel)] = "username" name="Username" placeholder="Username"><br>
<input type="password" [(ngModel)] = "password" name="Password" placeholder="Password"><br>
<input type="submit" (click)="Login()" class="button">
</form>
<p>{{answer}}</p>

<h1>Registration</h1>
<form>
<input type="text" [(ngModel)] = "newemail" name ="Email" placeholder="Email"><br>
<input type="text" [(ngModel)] = "newusername" name="Username" placeholder="Username"><br>
<input type="password" [(ngModel)] = "newpassword" name="Password" placeholder="Password" onkeyup="Register()"><br>
<input type="submit" (click)="Register()" class="button">
</form>
<p>{{check}}</p>