<h1>Login</h1>
<input name='username' type="text"[(ngModel)]=username>Username</input></br>
<input name='password' type="password"[(ngModel)]=password>Password</input>
<button (click)='Login()'>Login</button>

{{answer}}

<h1>Registration</h1>
<input name='email' type="text"[(ngModel)]=email>Email</input></br>
<input name='newusername' type="text"[(ngModel)]=username>Username</input></br>
<input name='newpassword' type="password"[ngModel]=password>Password</input>
<button (click)='Register()'>Register</button>