



<form class="box" name="login"style="left:25%; padding:50px">
    <h1>Login</h1>
    <br>
<input type="text" [(ngModel)] = "username" name="Username" placeholder="Username">
<input type="password" [(ngModel)] = "password" name="Password" placeholder="Password">
<br>
<input type="submit" (click)="Login()" id="log" class="button" value="Login">
</form>
<p>{{answer}}</p>

<form class="box" name="registration"style="left:75%">
    <h1>Register</h1>
<input type="text" [(ngModel)] = "newemail" name ="Email" placeholder="Email">
<input type="text" [(ngModel)] = "newusername" name="NewUsername" placeholder="Username">
<input type="password" [(ngModel)] = "newpassword" name="NewPassword" placeholder="Password">
<input type="submit" (click)="Register()" id="reg" class="button" value="Register">
</form>
<p>{{check}}</p>