/* You can add global styles to this file, and also import other style files */
body{
    background-color: darkslategrey;
    color: darkviolet;
}
.button{
    background-color: green;
    border-color: greenyellow;
}
.input{
    background-color: darkseagreen;
}