/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding:0;
    background-color: rgb(46, 49, 49);
    color: rgb(232, 236, 241);
    font-family: sans-serif;
}
::placeholder{
    color:rgb(232, 236, 241);
    opacity: .5;
}

/* main border color        border: solid rgb(140, 20, 252);
transformed border color    border-color: rgb(35, 203, 167);
*/