<div>
  <div class="Post">
      <select class="Interaction">
        <option *ngFor = "let boardText of boardText" (click) = selectBoard(boardText)>{{boardText}}</option>
      </select>
  </div>
  <div *ngFor = "let post of posts" class = "Post AdminOnly" (click) = deletePost(post.id)>{{post.user + " " + post.text}}</div>
  <!-- <div id = "postContainer"></div> -->
  <div class = "NewPost">
    <div style="display: inline">
      <input class="Interaction" type="postText" [(ngModel)] = "newPostText" style = "width: 90%; 
        max-width: 500px; min-width: 100px"/>
    </div>
    <div style="display: inline">
        <button class="Interaction"  (click) = "createPost()" >Create Post</button>
    </div>
  </div>
</div>
