<!DOCTYPE html>
<style>
    div.Post {
        display: block;
        border: solid black ;
        border-width: 5px 5px 0px 5px;
        background: rgb(150, 150, 255);
        
    }
    div.NewPost {
        display: block;
        border: 5px solid black ;
        background: rgb(150, 150, 255);
        
    }
    .Interaction {
        background: rgb(150, 150, 255);
    }

</style>
<html>
    <head>

    </head>
    <body>
        <div style = "background:blueviolet; border: 20px solid blueviolet ; border-radius: 25px;">
            <div style = "background:blueviolet">
                <select class="Interaction">
                    <option>PageA</option>
                    <option>PageB</option>
                    <option>PageB</option>
                </select>
            </div>
            <div >
                <div>
                    <div class = "Post">
                        Username: texthere
                    </div>
                    <div class = "Post">
                            Username: texthere
                    </div>
                    <div class = "Post">
                            Username: texthere
                    </div>
                    <div class = "Post">
                        Username: texthere
                    </div>
                    <div class = "Post">
                            Username: texthere
                    </div>
                    <div class = "Post">
                        Username: texthere
                    </div>
                    <div class = "Post">
                        Username: texthere
                    </div>
                    <div class = "Post">
                        Username: texthere
                    </div>
                    <div class = "Post">
                        Username: texthere
                    </div>
                </div>
                <div class = "NewPost" style = "height: 50px">
                    <button class="Interaction" style="height: 50px; width:100px; float:right">Send</button>
                    <input class="Interaction" type="text" style= "margin: 10px; height: 30px ;width: 90%"/>
                </div>
            </div>
        </div>
        
    </body>
</html>