<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="Post">
  <div class = "NavBar">{{selectedBoard.name}}</div>
  <div class = "NavBar">
    <div (mouseover) = "showInvites()" (mouseleave) = "hideInvites()">Invites</div>
    <div class="InteractionBordered" id = "invites" style = "z-index: 1; display: none;" 
      (mouseover) = "showInvites()" (mouseleave) = "hideInvites()">
      <div *ngFor = "let invite of invites">
        <span>{{invite.board.name}}</span>
        <button (click) = acceptInvitation(invite)>Accept</button>
        <button (click) = rejectInvitation(invite)>Reject</button>
      </div>
    </div>
  </div>
  <div class = "NavBar">
    <span>{{selectedUser.name}}</span>
    <a routerLink="/login">Log Out</a>
  </div>
</div>
<div class="PostBottomless">
  <div style="display: inline-block">
    <div class="Interaction" *ngFor = "let selectedUserBoard of selectedUserBoards" 
      (click) = selectBoard(selectedUserBoard.name)>
      {{selectedUserBoard.name}}
    </div>
  </div>
  <div style="display: inline-block">
    <div *ngFor = "let post of posts" class = "Post AdminOnly" (click) = deletePost(post.id)>
      {{post.user.name + " " + post.text}}
    </div>
    <div class="Post">
      <div style="display: inline-block">
        <input class="Interaction" id="postText" [(ngModel)] = "newPostText" style = "width: 90%; 
          max-width: 500px; min-width: 100px" disabled = "true"/>
      </div>
      <div style="display: inline-block">
          <button class="Interaction" id="newPostButton" (click) = "createPost()" disabled = "true">Create Post</button>
      </div>
    </div>
  </div>
</div>

