div {
    color: white;
}
button {
    box-shadow: 0;
    border: solid rgb(140, 20, 252);
}
/* :host ::ng-deep div.Post {
    font-size: 16px;
    display: block;
    border: solid rgb(0, 0, 100);
    border-width: 5px 5px 0px 5px;
    background: rgb(0, 0, 10);
    border-radius: 10px;
} */
div.Post {
    font-size: 16px;
    display: block;
    border: solid rgb(140, 20, 252);
    border-width: 5px 5px 5px 5px;
    background: rgb(46, 49, 49);
    border-radius: 10px;
    padding: 10px;
}
div.PostBottomless {
    font-size: 16px;
    display: block;
    border: 5px solid rgb(140, 20, 252);
    background: rgb(46, 49, 49);
    border-radius: 10px;
    padding: 10px;
}
div.PostBorderless {
    font-size: 16px;
    display: block;
    background: rgb(46, 49, 49);
    border-radius: 10px;
    padding: 10px;
}
div.NavBar {
    display: inline-block;
    font-size: 24pt;
    padding: 5px;
    border: solid rgb(140, 20, 252);
    border-width: 5px 5px 5px 5px;
    border-radius: 20px;
    /* min-height: 200px; */
    min-width: 50px;
}
.Interaction {
    font-size: 16px;
    background: rgb(46, 49, 49);
    border: solid rgb(100, 100, 100);
    border-radius: 10px;
    font-weight: bold;
}
.Interaction:disabled {
    font-size: 16px;
    text-decoration: line-through;
    background: rgb(46, 49, 49);
    border: solid rgb(100, 100, 100);
    border-radius: 10px;
    font-weight: bold;
}
.InteractionFree {
    font-size: 16px;
    display: block;
    border: solid rgb(140, 20, 252);
    border-width: 3px;
    background: rgb(46, 49, 49);
    outline: solid 10px rgba(100, 100, 150, 0.8);
    padding: 10px;
    font-weight: bold;
}
.PostView {
    display: inline-block;
    height: 400px;
    overflow-y: scroll;
    width: 100%;
}
.RoomUsersView {
    display: inline-block;
    height: 200px;
    overflow-y: scroll;
    /* position: absolute; */
    left: 50%;
    width: 40%;
}
.BoardView {
    display: inline-block;
    height: 200px;
    overflow-y: scroll;
    width: 40%;
    border: solid rgb(140, 20, 252);
    border-width: 5px 5px 5px 5px;
    background: rgb(46, 49, 49);
    border-radius: 10px;
    padding: 10px;
}






