:host ::ng-deep div.Post {
    display: block;
    border: solid black;
    border-width: 5px 5px 0px 5px;
    background: rgb(150, 150, 255);
}
div.Post {
    font-size: 16px;
    display: block;
    border: solid black;
    border-width: 5px 5px 0px 5px;
    background: rgb(150, 150, 255);
}
div.PostBottomless {
    font-size: 16px;
    display: block;
    border: 5px solid black ;
    background: rgb(150, 150, 255);
}
div.NavBar {
    display: inline-block;
    font-size: 24pt;
    padding: 5px;
    border: solid black;
    border-width: 0px 5px 0px 0px;
}
.Interaction {
    font-size: 16px;
    background: rgb(200, 200, 255);
}
.InteractionBordered {
    font-size: 16px;
    display: block;
    border: solid black;
    border-width: 3px;
    background: rgb(200, 200, 255);
    outline: solid 10px rgba(100, 100, 150, 0.8);
    padding: 10px;
    
}






