<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div style="background: rgb(15, 15, 15)">
  <div class = "NavBar">{{selectedBoard.name}}</div>
  <div class = "NavBar">
    <div >
      <span (click) = "showInvites()">
        Invitations
      </span>
      <span (click) = "showInviteCreator()">
        Change
      </span>
    </div>
    <!-- Invitation Viewer -->
    <div class="InteractionFree" id = "invites" style = "z-index: 1; display: none;">
      <div *ngFor = "let invite of invites">
        <span>{{invite.board.name}}</span>
        <button class="Interaction" (click) = acceptInvitation(invite)>Accept</button>
        <button class="Interaction" (click) = rejectInvitation(invite)>Reject</button>
      </div>
    </div>
    <!-- Invite Creator -->
    <div class="InteractionFree" id = "inviteCreator" style = "z-index: 2; display: none">
      <select>
        <option *ngFor = "let selectedUserBoard of selectedUserBoards">
          {{selectedUserBoard.name}}
        </option>
      </select>
      <select>
          <option *ngFor = "let user of users">
            {{user.name}}
          </option>
      </select>
      <!-- Certain options would only be available to users with certain permissions. -->
      <select>
          <option>User</option>
          <option>Mod</option>
          <option>Remove Mod</option>
          <option>Ban</option>
      </select>
      <br/>
      <span id="permissionError"></span>
      <button (click) = "changePermission()">Send Invite</button>
    </div>
  </div>
  <div class = "NavBar">
    <span>{{selectedUser.name}}</span>
    <a routerLink="/login" style = "font-size: 12px" >Log Out</a>
  </div>
</div>
<div class="PostBottomless" style = "border-radius: 0px">
  <div>
    <button class="Interaction" (click) = "showCreateBoard()">Add New</button>
    <br/>
    <div id="createBoard" style= "display: none">
      <div style="display: inline-block">
        <input class="Interaction" [(ngModel)] = "newBoardText" style = "max-width: 500px;
          min-width: 100px"/>
      </div>
      <div style="display: inline-block">
        <button class="Interaction" (click) = "createBoard()">Create Post</button>
      </div>
    </div>
  </div>
  <div style="display: inline-block">
    <div class="Interaction" *ngFor = "let selectedUserBoard of selectedUserBoards" 
      (click) = selectBoard(selectedUserBoard.name)>
      {{selectedUserBoard.name}}
    </div>
  </div>
  <div style="display: inline-block">
    <div *ngFor = "let post of posts" class = "Post AdminOnly" (click) = deletePost(post.id)>
      <span>{{post.user.name + " " + post.text}}</span>
      <button class="Interaction" id="deletePostButton" (click) = "deletePost(post.id)"></button>
    </div>
    <div class="Post">
      <div style="display: inline-block">
        <input class="Interaction" id="postText" [(ngModel)] = "newPostText" style = "width: 90%; 
          max-width: 500px; min-width: 100px" disabled = "true"/>
      </div>
      <div style="display: inline-block">
          <button class="Interaction" id="newPostButton" (click) = "createPost()" disabled = "true">
            Create Post
          </button>
      </div>
    </div>
  </div>
</div>

